TZ=America/Argentina/Buenos_Aires

HESK_DB_NAME=hesk
HESK_DB_USER=hesk_user
HESK_DB_PASSWORD=hesk_pass
HESK_DB_ROOT_PASSWORD=root_pass
HESK_PORT=8080

ZABBIX_DB_NAME=zabbix
ZABBIX_DB_USER=zabbix_user
ZABBIX_DB_PASSWORD=zabbix_pass
ZABBIX_DB_ROOT_PASSWORD=root_pass
ZABBIX_PORT=8081